---
http_interactions:
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=INVALID%20CURRENCY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://freecurrencyapi.net
      X-Ratelimit-Limit:
      - '4500'
      X-Ratelimit-Remaining:
      - '4492'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="0;url='https://freecurrencyapi.net'" />

                <title>Redirecting to https://freecurrencyapi.net</title>
            </head>
            <body>
                Redirecting to <a href="https://freecurrencyapi.net">https://freecurrencyapi.net</a>.
            </body>
        </html>
  recorded_at: Sun, 14 Nov 2021 01:46:19 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://freecurrencyapi.net
      X-Ratelimit-Limit:
      - '4500'
      X-Ratelimit-Remaining:
      - '4491'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="0;url='https://freecurrencyapi.net'" />

                <title>Redirecting to https://freecurrencyapi.net</title>
            </head>
            <body>
                Redirecting to <a href="https://freecurrencyapi.net">https://freecurrencyapi.net</a>.
            </body>
        </html>
  recorded_at: Sun, 14 Nov 2021 01:46:20 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=INVALID%20API%20KEY&base_currency=TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"too_many_requests":"You are either out of requests or you have run
        into our rate limit: Requests without apikey are limited to 10 requests per
        hour. Register a personal apikey, here: https:\/\/freecurrencyapi.net\/register.
        This will increase your rate limit 4500 requests per hour."}'
  recorded_at: Sun, 14 Nov 2021 01:47:19 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4490'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"TWD","timestamp":1636854523},"data":{"USD":0.035995,"JPY":4.100285,"CNY":0.229613,"CHF":0.033156,"CAD":0.045186,"MXN":0.738473,"INR":2.676026,"BRL":0.196495,"RUB":2.618631,"KRW":42.324234,"IDR":512.327108,"TRY":0.357973,"SAR":0.134998,"SEK":0.315151,"NGN":14.772411,"PLN":0.145838,"ARS":3.603559,"NOK":0.312432,"TWD":1,"IRR":1511.818745,"AED":0.132199,"COP":139.674113,"THB":1.179936,"ZAR":0.549988,"DKK":0.233828,"MYR":0.149888,"SGD":0.04865,"ILS":0.111709,"HKD":0.280375,"EGP":0.564412,"PHP":1.792955,"CLP":28.794709,"PKR":6.308244,"IQD":52.499881,"DZD":4.952711,"KZT":15.506328,"QAR":0.131026,"CZK":0.793132,"PEN":0.144371,"RON":0.155531,"VND":814.94839,"BDT":3.08017,"HUF":11.534097,"UAH":0.945249,"AOA":21.503929,"MAD":0.328313,"OMR":0.013848,"CUC":0.863907,"BYR":0.071992,"AZN":0.060942,"LKR":7.23516,"SDG":15.719482,"SYP":90.349716,"MMK":63.67733,"DOP":2.028743,"UZS":385.916287,"KES":4.022588,"GTQ":0.278068,"URY":1.577691,"HRV":0.236175,"MOP":0.288829,"ETB":1.71052,"CRC":23.030392,"TZS":82.646495,"TMT":0.125626,"TND":0.101576,"PAB":0.035996,"LBP":54.155888,"RSD":3.694617,"LYD":0.163621,"GHS":0.215974,"YER":8.98935,"BOB":0.245494,"BHD":0.013571,"CDF":71.458551,"PYG":246.96777,"UGX":126.874248,"SVC":0.314646,"TTD":0.243112,"AFN":3.284281,"NPR":4.287129,"HNL":0.865345,"BIH":0.061506,"BND":0.048652,"ISK":4.723751,"KHR":146.176868,"GEL":0.11284,"MZN":2.274959,"BWP":0.411383,"PGK":0.126388,"JMD":5.566002,"XAF":20.429309,"NAD":0.549898,"ALL":3.829645,"SSP":14.362315,"MUR":1.549632,"MNT":102.155612,"NIO":1.267418,"LAK":380.548169,"MKD":1.931542,"AMD":17.008082,"MGA":142.579724,"XPF":3.743578,"TJS":0.40567,"HTG":3.527583,"BSD":0.035996,"MDL":0.631641,"RWF":36.690918,"KGS":3.051764,"GNF":340.376094,"SRD":0.769878,"SLL":389.150594,"XOF":20.545508,"MWK":29.069968,"FJD":0.075594,"ERN":0.539939,"SZL":0.551945,"GYD":7.486841,"BIF":71.326079,"KYD":0.029696,"MVR":0.55506,"LSL":0.55173,"LRD":5.172663,"CVE":3.467523,"DJF":6.389342,"SCR":0.491401,"SOS":20.697598,"GMD":1.871785,"KMF":15.465924,"STD":0.770316,"XRP":0.029877,"AUD":0.049081,"BGN":0.061496,"BTC":0.000562,"JOD":0.025485,"GBP":0.026828,"ETH":8.0e-6,"EUR":0.031457,"LTC":0,"NZD":0.051103}}'
  recorded_at: Sun, 14 Nov 2021 01:48:43 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=USD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4416'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<[...]
[...]
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4414'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREE[...]
[...]
