---
http_interactions:
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=INVALID%20CURRENCY
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://freecurrencyapi.net
      X-Ratelimit-Limit:
      - '4500'
      X-Ratelimit-Remaining:
      - '4499'
    body:
      encoding: UTF-8
      string: |-
        <!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8" />
                <meta http-equiv="refresh" content="0;url='https://freecurrencyapi.net'" />

                <title>Redirecting to https://freecurrencyapi.net</title>
            </head>
            <body>
                Redirecting to <a href="https://freecurrencyapi.net">https://freecurrencyapi.net</a>.
            </body>
        </html>
  recorded_at: Sun, 19 Dec 2021 05:27:17 GMT
- request:
    method: get
    uri: https://freecurrencyapi.net/api/v2/latest?apikey=<FREECURRENCY_API_KEY>&base_currency=TWD
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Ratelimit-Remaining:
      - '4498'
      X-Ratelimit-Limit:
      - '4500'
    body:
      encoding: UTF-8
      string: '{"query":{"apikey":"<FREECURRENCY_API_KEY>","base_currency":"TWD","timestamp":1639891638},"data":{"USD":0.035934,"JPY":4.08622,"CNY":0.22955,"CHF":0.033206,"CAD":0.046315,"MXN":0.747818,"INR":2.730545,"BRL":0.204648,"RUB":2.66018,"KRW":42.525714,"IDR":516.20377,"TRY":0.589513,"SAR":0.13485,"SEK":0.328266,"NGN":14.73028,"PLN":0.147948,"ARS":3.660382,"NOK":0.324381,"TWD":1,"IRR":1509.278261,"AED":0.131986,"COP":142.695284,"THB":1.197369,"ZAR":0.570695,"DKK":0.237771,"MYR":0.151537,"SGD":0.049116,"ILS":0.112261,"HKD":0.280354,"EGP":0.565599,"PHP":1.792078,"CLP":30.26229,"PKR":6.400103,"IQD":52.393203,"DZD":4.985231,"KZT":15.724412,"QAR":0.130803,"CZK":0.804596,"PEN":0.144667,"RON":0.158171,"VND":825.794497,"BDT":3.069935,"HUF":11.709433,"UAH":0.979596,"AOA":20.3905,"MAD":0.334016,"OMR":0.013832,"CUC":0.862447,"BYR":0.107806,"AZN":0.060838,"LKR":7.222924,"SDG":15.677731,"SYP":90.19708,"MMK":63.65893,"DOP":2.035371,"UZS":387.378828,"KES":4.057068,"GTQ":0.277237,"URY":1.598046,"HRV":0.240145,"MOP":0.288775,"ETB":1.746881,"CRC":22.813349,"TZS":82.650188,"TMT":0.125413,"TND":0.102729,"PAB":0.035935,"LBP":54.154614,"RSD":3.756986,"LYD":0.165015,"GHS":0.217408,"YER":8.983862,"BOB":0.245434,"BHD":0.013548,"CDF":71.402548,"PYG":244.350119,"UGX":127.534183,"SVC":0.314427,"TTD":0.243439,"AFN":3.668972,"NPR":4.374768,"HNL":0.870471,"BIH":0.062481,"BND":0.049124,"ISK":4.674435,"KHR":146.024698,"GEL":0.11021,"MZN":2.271103,"BWP":0.419804,"PGK":0.126204,"JMD":5.503845,"XAF":20.967684,"NAD":0.570285,"ALL":3.855839,"SSP":14.912396,"MUR":1.570353,"MNT":101.946979,"NIO":1.268868,"LAK":396.367626,"MKD":1.955225,"AMD":17.665589,"MGA":141.404491,"XPF":3.806228,"TJS":0.404988,"HTG":3.593535,"BSD":0.035935,"MDL":0.63415,"RWF":36.78314,"KGS":3.036538,"GNF":332.834288,"SRD":0.771384,"SLL":400.999853,"XOF":20.816481,"MWK":29.068026,"FJD":0.076797,"ERN":0.539024,"SZL":0.570917,"GYD":7.473725,"BIF":71.41409,"KYD":0.029647,"MVR":0.554123,"LSL":0.570431,"LRD":5.070494,"CVE":3.525926,"DJF":6.37842,"SCR":0.478982,"SOS":20.662686,"GMD":1.893796,"KMF":15.70364,"STD":0.783021,"XRP":0.044919,"AUD":0.05042,"BGN":0.062527,"BTC":0.000765,"JOD":0.025442,"GBP":0.027142,"ETH":9.0e-6,"EUR":0.031982,"LTC":0.000359,"NZD":0.053364}}'
  recorded_at: Sun, 19 Dec 2021 05:27:18 GMT
recorded_with: VCR 6.0.0
