---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44521237,"employerId":7337,"employerName":"Ashdown
        Group","employerProfileId":null,"employerProfileName":null,"jobTitle":"Senior
        Backend Developer","locationName":"Wandsworth","minimumSalary":60000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"28/12/2021","date":"29/10/2021","jobDescription":"
        A market-leading software company based in South West London&nbsp;is seeking
        a Senior Backend Developer to be a senior part of a team responsible for the
        development of the company’s software products.  &nbsp;This is a great opportunity
        to join a growing company boasting some of the world''s biggest tech companies
        as customers, and to work in a truly collaborative Development team. The role
        is predominantly office based (Wandsworth/Eas... ","applications":8,"jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer/44521237"},{"jobId":45035505,"employerId":504253,"employerName":"Rebel
        Recruiters","employerProfileId":null,"employerProfileName":null,"jobTitle":"Green
        Tech Backend Developer Hybrid Remote","locationName":"Edinburgh","minimumSalary":35000.00,"maximumSalary":50000.00,"currency":"GBP","expirationDate":"25/01/2022","date":"14/12/2021","jobDescription":"
        Green-Energy Backend Developer - saving the planet!Location: Edinbur[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44521237
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":7337,"employerName":"Ashdown Group","jobId":44521237,"jobTitle":"Senior
        Backend Developer","locationName":"Wandsworth","minimumSalary":60000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £75,000 per annum","datePosted":"29/10/2021","expirationDate":"28/12/2021","externalUrl":"https://jobs.ashdowngroup.com/job/senior-backend-developer-19270/apply.aspx?atsimode=customdirectapply&provider=firefish","jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer/44521237","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p>A market-leading software company based in South West London&nbsp;is seeking
        a Senior Backend Developer to be a senior part of a team responsible for the
        development of the company’s software products. </p> <p>&nbsp;This is a great
        opportunity to join a growing company boasting some of the world''s biggest
        tech companies as customers, and to work in a truly collaborative Development
        team. The role is predominantly office based (Wandsworth/East Putney) but
        the&nbsp;company  offers flexible working and some remote working will be
        available. </p> <p>Essential Skills: </p> <ul> <li>Experience developing and
        maintaining C#/.NET REST APIs, and writing enterprise-scale Web 2.0 applications.
        </li><li>Good in-depth knowledge of Client/Server and Web architectures on
        Windows, using SQL Server and tools such as nHibernate, EntityFramework, WebAPI
        in VisualStudio. </li><li>Enjoys learning new skills and working with a team,
        finding innovative solutions to problems, and contributing to the constant
        evolution of a mature set of product[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45035505
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":504253,"employerName":"Rebel Recruiters","jobId":45035505,"jobTitle":"Green
        Tech Backend Developer Hybrid Remote","locationName":"Edinburgh","minimumSalary":35000.0000,"maximumSalary":50000.0000,"yearlyMinimumSalary":35000.0000,"yearlyMaximumSalary":50000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£35,000 - £50,000 per annum","datePosted":"14/12/2021","expirationDate":"25/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/green-tech-backend-developer-hybrid-remote/45035505","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Green-Energy Backend Developer - saving the planet!</strong><br
        /><strong>Location: Edinburgh / hybrid remote.</strong><strong><br /><strong>Salary:
        &#163;35,000 - &#163;50,000 &#43; equity<br /><br /></strong></strong></p>
        <p>Transitioning to renewable energy is one of the best things countries can
        do to lower carbon emissions.</p> <p>But what about all the countries who
        don’t have big, centralised grid networks supplying energy to every building
        and appliance?</p> <p>How do we cut the use of 100 million diesel generators
        in Nigeria, or enable rural Indian or Congolese people[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45015710
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":415711,"employerName":"Explore Group","jobId":45015710,"jobTitle":"Senior
        Backend Engineer","locationName":"London","minimumSalary":65000.0000,"maximumSalary":85000.0000,"yearlyMinimumSalary":65000.0000,"yearlyMaximumSalary":85000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£65,000 - £85,000 per annum","datePosted":"10/12/2021","expirationDate":"21/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/senior-backend-engineer/45015710","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p>Backend Engineer (Java/Kotlin) - <strong>&#163;75,000 - &#163;85,000</strong>
        - <strong> (Fully Remote)</strong></p> <p><strong>NO SPONSORSHIP</strong></p>
        <p><strong>Backend Engineer</strong> for a <strong>Fintech</strong> and <strong>Retail
        scale-up</strong> based in <strong>London</strong></p> <p>Salary - <strong>&#163;65,000
        - &#163;85,000</strong> per annum &#43; <strong>benefits</strong></p> <p>Job
        title: <strong>Senior Backend Engineer</strong></p> <p>Job type: <strong>Permanent</strong></p>
        <p>Location: <strong>Central London</strong></p> <p>WFH: <strong>Remote </strong>(Can
        work in office if you want)</p> <p>Start: <strong>ASAP</strong></p> <p>Join
        a <strong>Fintech </strong>company operating with clients in the <strong>
        retail market</strong> who <strong>provide insights </strong>to <strong>produce
        solutions</strong> to their pressing business issues. [...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44984502
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":617997,"employerName":"In Technology Group Limited","jobId":44984502,"jobTitle":"Automation
        Tester - Backend - C#/.Net","locationName":"London","minimumSalary":350.0000,"maximumSalary":450.0000,"yearlyMinimumSalary":91000.0000,"yearlyMaximumSalary":117000.0000,"currency":"GBP","salaryType":"per
        day","salary":"£350.00 - £450.00 per day","datePosted":"08/12/2021","expirationDate":"19/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/automation-tester-backend-c-net/44984502","partTime":false,"fullTime":true,"contractType":"Contract","jobDescription":"
        <p>Automation Tester - Backend - C#/.Net </p> <p>My client has an immediate
        requirement for an urgent Automation Tester with programming experience to
        join their Managed Services division for an initial 6 months. </p> <p>Commercial
        industry experience is a very important requirement for this role as you will
        be working for an end client. </p> <p>Backend heavy project working with C#,
        .Net, Logik App and Microservice.</p> <p>Fully remote</p> <p><strong>Required
        Experience:</strong></p> <ul> <li>Programming Microsoft Stacks such as C#
        or .Net</li><li>Experience in a Test automation capacity or SDET</li><li>Logic
        App</li><li>Microservice</li><li>Agile development, SCRUM, and ALM (Application
        Lifecycle Management)</li><li>Familiar with a wide range of testing tools</li><li>Must
        hold or be able to successfully achieve and maintain NPPV3 with SC clearance</li></ul>
        <p>If you''re interested in the opportunity and would like to learn more about
        the opportunity please apply directly with your CV to be contacted.</p> <p>Automation
        Tester - Backend - C#/.Net </p> <p>In Technology Group Ltd is acting as an
        Employment Business in relation to this vacancy.</p> ","applicationCount":2}'
  recorded_at: Sun, 19 Dec 2021 05:25:47 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45051069
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":589026,"employerName":"Jefferson Frank ","jobId":45051069,"jobTitle":"SENIOR
        BACKEND DEVELOPER - RAL UP TO 50K - FULL REMOTE","locationName":"Italy","minimumSalary":30000.0000,"maximumSalary":50000.0000,"yearlyMinimumSalary":30000.0000,"yearlyMaximumSalary":50000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£30,000 - £50,000 per annum","datePosted":"16/12/2021","expirationDate":"27/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer-ral-up-to-50k-full-remote/45051069","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><em><strong>SENIOR BACKEND DEVELOPER (with AWS)/TEAM LEADER - RAL UP TO
        50K - FULL REMOTE</strong></em></p> <p><br /><strong>MUST:</strong></p> <ul>
        <li>AWS (at least the services used to develop on it. i.e. Lambda)</li><li>Any
        backend languages: JAVA (much preferred), PHP, .NET...</li><li>English language</li><li>Attitude
        to the leaderhsip</li><li>Have a certain seniority (senior, lead, people management...)</li></ul>
        <p><br /><strong>BETTER TO HAVE:</strong></p> <ul> <li>Previous experience
        as a Team Leader</li><li>Web/APP Developer background</li></ul> <p><strong>THE
        GOOD STUFF:</strong></p> <ul> <li>Huge end client </li><li>Possibility of
        full remote</li><li>Concrete possibility of development, both personal and
        professional</li><li>Innovative, radicate and very stimulating environment</li></ul>
        ","applicationCount":0}'
  recorded_at: Sun, 19 Dec 2021 05:25:48 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=asdf
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[],"ambiguousLocations":[],"totalResults":0}'
  recorded_at: Sun, 19 Dec 2021 14:26:28 GMT
recorded_with: VCR 6.0.0
