---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=asdf
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[],"ambiguousLocations":[],"totalResults":0}'
  recorded_at: Sun, 05 Dec 2021 18:45:02 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=frontend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44862748,"employerId":302092,"employerName":"Adria
        Solutions Ltd","employerProfileId":null,"employerProfileName":null,"jobTitle":"Lead
        Frontend  Developer  Angular - Fully Remote","locationName":"Manchester","minimumSalary":60000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"12/01/2022","date":"01/12/2021","jobDescription":"Lead
        Frontend Developer – Fully Remote – Up to &#163;80k &#43; Bonus On behalf
        of our global client, we are currently looking for an exceptional Lead Frontend
        Developer with strong Angular experience. As Lead Frontend&nbsp;Developer
        you will be playing a vital part in our client’s transformation, as they are
        about to embark on  a major program to design and deliver major enhancements
        to part of the core product suite. <b... ","applications":1,"jobUrl":"https://www.reed.co.uk/jobs/lead-frontend-developer-angular-fully-remote/44862748"},{"jobId":44926856,"employerId":346427,"employerName":"Understanding
        Recruitment","employerProfileId":null,"employerProfileName":null,"jobTitle":"Frontend
        Developer - DeFi/Crypto","locationName":"London","minimumSalary":60000.00,"maximumSalary":100000.00,"currency":"GBP","expirationDate":"16/01/2022","date":"05/12/2021","jobDescription":"
        Would you like to re-invent payments and develop br[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44862748
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":302092,"employerName":"Adria Solutions Ltd","jobId":44862748,"jobTitle":"Lead
        Frontend  Developer  Angular - Fully Remote","locationName":"Manchester","minimumSalary":60000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £75,000 per annum","datePosted":"01/12/2021","expirationDate":"12/01/2022","externalUrl":"https://jobs.adriasolutions.co.uk/job/lead-frontend-developer-(angular)-fully-remote-2393/apply.aspx?atsimode=customdirectapply&provider=firefish","jobUrl":"https://www.reed.co.uk/jobs/lead-frontend-developer-angular-fully-remote/44862748","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Lead
        Frontend Developer – Fully Remote – Up to &#163;80k &#43; Bonus <br /><br
        /><p>On behalf of our global client, we are currently looking for an exceptional
        Lead Frontend Developer with strong Angular experience. As Lead Frontend&nbsp;Developer
        you will be playing a vital part in our client’s transformation, as they are
        about to embark on  a major program to design and deliver major enhancements
        to part of the core product suite.</p> <br /><br />The Lead Frontend&nbsp;Developer
        will be responsible for: <br /><br /><ul> <li>Redesign monolithic enterprise
        applications to take advantage of modern design techniques</li><li>Develop
        user interfaces using Angular and other modern frontend frameworks.</li><li>Leading
        and working as a team to break apart complex challenges and come up with imaginative
        solutions</li><li>Building and leading your own team.</li><li>Keep up to date
        with the latest technologies and practices</li></ul> <br /><br />The Lead
        Frontend&nbsp;Developer w[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44926856
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":346427,"employerName":"Understanding Recruitment","jobId":44926856,"jobTitle":"Frontend
        Developer - DeFi/Crypto","locationName":"London","minimumSalary":60000.0000,"maximumSalary":100000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":100000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £100,000 per annum","datePosted":"05/12/2021","expirationDate":"16/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/frontend-developer-defi-crypto/44926856","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Would you like to re-invent payments and develop breakthrough technology?</strong></p>
        <p>I am looking for Frontend developers to help develop breakthrough technology
        and re-invent payments at one of the most well-backed DeFi start-ups in the
        world.</p> <p>With over $24 million in funding from some of the top crypto
        investors such as Coinbase, this company is scaling blockchains such as Ethereum
        to 100''s of millions of users whilst focusing on privacy and security.</p>
        <p>They are looking for Frontend developers to build out their latest security
        platform along side world class engineers, cryptographers and PHD that have
        worked at Zcash, Betfair, Triptease, TripNotice and Google.</p> <p>Tech Stack</p>
        <p>Day-to-day you will be building complex UIs using React and TypeScript
        with the chance to use C&#43;&#43; on the backend for any full stack work.</p>
        <p>Salary and Package</p> <p>They are offering 60K-100K (dependant on experience)
        &#43; equity, flexible remote working and 25 days holiday. </p> ","applicationCount":0}'
  recorded_at: Sun, 05 Dec 2021 18:45:06 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44860987
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":268109,"employerName":"Brand Recruitment","jobId":44860987,"jobTitle":"Mid-Weight
        Frontend Developer","locationName":"Chelmsford","minimumSalary":25000.0000,"maximumSalary":35000.0000,"yearlyMinimumSalary":25000.0000,"yearlyMaximumSalary":35000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£25,000 - £35,000 per annum","datePosted":"01/12/2021","expirationDate":"12/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/mid-weight-frontend-developer/44860987","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Mid-Weight Frontend Developer, Chelmsford –</strong></p> <p><em>Are
        you a junior web developer?</em></p> <p><em>Would you like to work in a fast-paced
        supportive environment?</em></p> <p><em>Do you want to work for a growing
        company that encourages personal development?</em></p> <p>Then look no further
        as this may be the perfect role for you!!</p> <p><strong>The Company</strong></p>
        <p>Our client is a holding company responsible for a variety of start-ups,
        growing companies and established enterprises. They wor[...]
[...]
