---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=asdf
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[],"ambiguousLocations":[],"totalResults":0}'
  recorded_at: Sun, 05 Dec 2021 18:45:02 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=frontend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44862748,"employerId":302092,"employerName":"Adria
        Solutions Ltd","employerProfileId":null,"employerProfileName":null,"jobTitle":"Lead
        Frontend  Developer  Angular - Fully Remote","locationName":"Manchester","minimumSalary":60000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"12/01/2022","date":"01/12/2021","jobDescription":"Lead
        Frontend Developer – Fully Remote – Up to &#163;80k &#43; Bonus On behalf
        of our global client, we are currently looking for an exceptional Lead Frontend
        Developer with strong Angular experience. As Lead Frontend&nbsp;Developer
        you will be playing a vital part in our client’s transformation, as they are
        about to embark on  a major program to design and deliver major enhancements
        to part of the core product suite. <b... ","applications":1,"jobUrl":"https://www.reed.co.uk/jobs/lead-frontend-developer-angular-fully-remote/44862748"},{"jobId":44926856,"employerId":346427,"employerName":"Understanding
        Recruitment","employerProfileId":null,"employerProfileName":null,"jobTitle":"Frontend
        Developer - DeFi/Crypto","locationName":"London","minimumSalary":60000.00,"maximumSalary":100000.00,"currency":"GBP","expirationDate":"16/01/2022","date":"05/12/2021","jobDescription":"
        Would you like to re-invent payments and develop br[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44862748
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":302092,"employerName":"Adria Solutions Ltd","jobId":44862748,"jobTitle":"Lead
        Frontend  Developer  Angular - Fully Remote","locationName":"Manchester","minimumSalary":60000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £75,000 per annum","datePosted":"01/12/2021","expirationDate":"12/01/2022","externalUrl":"https://jobs.adriasolutions.co.uk/job/lead-frontend-developer-(angular)-fully-remote-2393/apply.aspx?atsimode=customdirectapply&provider=firefish","jobUrl":"https://www.reed.co.uk/jobs/lead-frontend-developer-angular-fully-remote/44862748","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Lead
        Frontend Developer – Fully Remote – Up to &#163;80k &#43; Bonus <br /><br
        /><p>On behalf of our global client, we are currently looking for an exceptional
        Lead Frontend Developer with strong Angular experience. As Lead Frontend&nbsp;Developer
        you will be playing a vital part in our client’s transformation, as they are
        about to embark on  a major program to design and deliver major enhancements
        to part of the core product suite.</p> <br /><br />The Lead Frontend&nbsp;Developer
        will be responsible for: <br /><br /><ul> <li>Redesign monolithic enterprise
        applications to take advantage of modern design techniques</li><li>Develop
        user interfaces using Angular and other modern frontend frameworks.</li><li>Leading
        and working as a team to break apart complex challenges and come up with imaginative
        solutions</li><li>Building and leading your own team.</li><li>Keep up to date
        with the latest technologies and practices</li></ul> <br /><br />The Lead
        Frontend&nbsp;Developer w[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44926856
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":346427,"employerName":"Understanding Recruitment","jobId":44926856,"jobTitle":"Frontend
        Developer - DeFi/Crypto","locationName":"London","minimumSalary":60000.0000,"maximumSalary":100000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":100000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £100,000 per annum","datePosted":"05/12/2021","expirationDate":"16/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/frontend-developer-defi-crypto/44926856","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Would you like to re-invent payments and develop breakthrough technology?</strong></p>
        <p>I am looking for Frontend developers to help develop breakthrough technology
        and re-invent payments at one of the most well-backed DeFi start-ups in the
        world.</p> <p>With over $24 million in funding from some of the top crypto
        investors such as Coinbase, this company is scaling blockchains such as Ethereum
        to 100''s of millions of users whilst focusing on privacy and security.</p>
        <p>They are looking for Frontend developers to build out their latest security
        platform along side world class engineers, cryptographers and PHD that have
        worked at Zcash, Betfair, Triptease, TripNotice and Google.</p> <p>Tech Stack</p>
        <p>Day-to-day you will be building complex UIs using React and TypeScript
        with the chance to use C&#43;&#43; on the backend for any full stack work.</p>
        <p>Salary and Package</p> <p>They are offering 60K-100K (dependant on experience)
        &#43; equity, flexible remote working and 25 days holiday. </p> ","applicationCount":0}'
  recorded_at: Sun, 05 Dec 2021 18:45:06 GMT
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44860987
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":268109,"employerName":"Brand Recruitment","jobId":44860987,"jobTitle":"Mid-Weight
        Frontend Developer","locationName":"Chelmsford","minimumSalary":25000.0000,"maximumSalary":35000.0000,"yearlyMinimumSalary":25000.0000,"yearlyMaximumSalary":35000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£25,000 - £35,000 per annum","datePosted":"01/12/2021","expirationDate":"12/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/mid-weight-frontend-developer/44860987","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Mid-Weight Frontend Developer, Chelmsford –</strong></p> <p><em>Are
        you a junior web developer?</em></p> <p><em>Would you like to work in a fast-paced
        supportive environment?</em></p> <p><em>Do you want to work for a growing
        company that encourages personal development?</em></p> <p>Then look no further
        as this may be the perfect role for you!!</p> <p><strong>The Company</strong></p>
        <p>Our client is a holding company responsible for a variety of start-ups,
        growing companies and established enterprises. They wor[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":45012271,"employerId":554473,"employerName":"Plexus","employerProfileId":null,"employerProfileName":[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":45015068,"employerId":55561,"employerName":"Hunters
        Recruitment & Training","employerProfileId":null[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45015046
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":563902,"employerName":"Office Angels","jobId":45015046,"jobTitle":"HR
        Business Administrator","locationName":"London","minimumSalary":10.0000,"maximumSalary":13.0000,"yearlyMinimumSalary":19500.0000,"yearlyMaximumSalary":25350.0000,"currency":"GBP","salaryType":"per
        hour","salary":"£10.00 - £13.00 per hour","datePosted":"10/12/2021","expirationDate":"21/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/hr-business-administrator/45015046","partTime":false,"fullTime":true,"contractType":"Contract","jobDescription":"
        <p><strong>Role: HR administrator </strong></p> <p><strong>Contract type:
        Temporary</strong></p> <p><strong>Contract length: On going</strong></p> <p><strong>Location:
        London </strong></p> <p><strong>Hours: 9-5 (1hour break)</strong></p> <p><strong>Hourly
        rate: </strong><strong>&#163;</strong><strong>12-</strong><strong>&#163;</strong><strong>13
        per hour depending on experience</strong></p> <p><strong>Start: Early January
        </strong></p> <p><strong>Interview: W/C 13th December </strong></p> <p><strong>Hybrid
        home and office based</strong></p> <strong>Office Angels National Accounts
        have a very exciting opportunity working with one of our large clients to
        provide administrative support within their HR team.</strong[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45015043
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":438452,"employerName":"Fox & Sons","jobId":45015043,"jobTitle":"Branch
        Administrator Part Time Flexible","locationName":"Hedge End","minimumSalary":null,"maximumSalary":null,"yearlyMinimumSalary":null,"yearlyMaximumSalary":null,"currency":null,"salaryType":"per
        annum","salary":null,"datePosted":"10/12/2021","expirationDate":"08/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/branch-administrator-part-time-flexible/45015043","partTime":true,"fullTime":false,"contractType":"Permanent","jobDescription":"
        <p>We’re looking for a highly motivated <strong>Branch Administrator (Part
        Time Flexible) </strong>to support our fantastic <strong>Estate Agency</strong>
        team in <strong> Hedge End, Southampton, Hampshire</strong>.&nbsp; As our<strong>&nbsp;Administrator</strong>&nbsp;you
        will take ownership of office administration accurately and efficiently and
        in a professional manner, within a busy customer facing environment.</p> <p><strong>Part
        Time: 20 - 25 Hours Per Week: Flexibility around when these days and hours
        are worked, could suit school hours, to be discussed at interview stage</strong></p>
        <p><strong>What’s in it for you as our Branch Administrator</strong></p> <ul>
        <li>Industry leading&nbsp;<strong>training and development</strong></li><li>Demonstrable&nbsp;<strong>career</strong>&nbsp;ladder</li><li>Opportunities
        for&nbsp;<strong>progression</strong></li><li><strong>Supportive</strong>,&nbsp;<st[...]
[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45015020
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":425474,"employerName":"Integrated Solutions","jobId":45015020,"jobTitle":"Bus
        Pilot","locationName":"Stratford","minimumSalary":10.8500,"maximumSalary":20.3200,"yearlyMinimumSalary":21157.5000,"yearlyMaximumSalary":39624.0000,"currency":"GBP","salaryType":"per
        hour","salary":"£10.85 - £20.32 per hour","datePosted":"10/12/2021","expirationDate":"21/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/bus-pilot/45015020","partTime":true,"fullTime":false,"contractType":"Temporary","jobDescription":"
        <p>Are you looking for some flexible Rail Replacement Assistant / Bus Pilot
        work with great pay?</p> <p>Integrated Solutions are recruiting for Rail Replacement
        Assistant / Bus Pilot for an established London bus service provider to help
        with Rail Replacement on the weekends.</p> <p>You will be required to instruct
        the bus driver to the designated route using maps, and provide information
        to the public on departure times and destinations.</p> <p><strong>Bus Pilot
        Highlights:</strong></p> <ul> <li>Weekend work</li><li>Flexible</li><li>Immediate
        Start</li><li>PAYE or UMBRELLA</li><li>Weekly Pay</li></ul> <p><strong>PAYE
        Pay Rate:</strong></p> <ul> <li>Weekend = &#163;10.85 per hour</li><li>Bank
        Holiday = &#163;15.83 per hour</li></ul> <p><strong>UMBRELLA Assignment Rate:</strong></p>
        <ul> <li>Weekend = &#163;13.93 per hour</li><li>Bank Holiday = &#163;20.32
        per hour</li></ul> <p><strong>Bus Pilot Requirements:</strong></p> <ul> <li>Bus
        Pilot experience preferred, but not required</li><li>Living within a commutable
        distance</li><li>Excellent customer service</li></ul> <p>If you''re interested
        in this position, please apply and one of your consultant will contact you.</p>
        ","applicationCount":0}'
  recorded_at: Fri, 10 Dec 2021 16:48:09 GMT
[...]
