---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":45012271,"employerId":554473,"employerName":"Plexus","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Software Engineer (.NET + Node) - Remote (European-Wide) - Permanent","locationName":"London","minimumSalary":null,"maximumSalary":null,"currency":null,"expirationDate":"21/01/2022","date":"10/12/2021","jobDescription":"
        Backend Software Engineer (.NET &#43; Node) - Remote (European-Wide) - Permanent  Backend
        Software Engineer (.NET &#43; Node) - Remote (European-Wide) - Permanent   Plexus
        has teamed up with an exciting web3 analytics platform, they are revolutionising
        crypto data monitoring. We are looking for a gifted and motivated backend
        software engineer with strong .Net experience, as well as a pro... ","applications":0,"jobUrl":"https://www.reed.co.uk/jobs/backend-software-engineer-net--node-remote-european-wide-permanent/45012271"},{"jobId":44933057,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Java Developer API - Banking","locationName":"London","minimumSalary":95000.00,"maximumSalary":120000.00,"currency":"GBP","expirationDate":"03/01/2022","date":"06/12/2021","jobDescription":"Backend
        Java Developer (Agile CI/[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/45012271
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":554473,"employerName":"Plexus","jobId":45012271,"jobTitle":"Backend
        Software Engineer (.NET + Node) - Remote (European-Wide) - Permanent","locationName":"London","minimumSalary":null,"maximumSalary":null,"yearlyMinimumSalary":null,"yearlyMaximumSalary":null,"currency":null,"salaryType":"per
        annum","salary":null,"datePosted":"10/12/2021","expirationDate":"21/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-software-engineer-net--node-remote-european-wide-permanent/45012271","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p><strong>Backend Software Engineer (.NET &#43; Node) - Remote (European-Wide)
        - Permanent </strong></p> <p><strong>Backend Software Engineer (.NET &#43;
        Node) - Remote (European-Wide) - Permanent </strong></p> <p>Plexus has teamed
        up with an exciting web3 analytics platform, they are revolutionising crypto
        data monitoring.</p> <p>We are looking for a gifted and motivated backend
        software engineer with strong .Net experience, as well as a professional interest
        in Node. The role involves working within their internal API, along with enhancing,
        the development of key services for their  partners and plethora of users
        globally.</p> <p>Would you like to:</p> <ul> <li>Work with a team of immensely
        skilled and ambitious colleagues?</li><li>Earn a competitive salary and fascinating
        stocks options?</li><li>Work remotely with flexible hours, development opportunities
        and work within a company culture that encourages learning, blockchain and
        curious conversations.</li></ul> <p>About the role:</p> <ul> <li>You would
        be creating, from scratch, prototypes, and applications in the most innovative
        and timely of manners.</[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic SU5WQUxJRCBUT0tFTjo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 10 Dec 2021 12:39:52 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Fri, 10 Dec 2021 12:39:54 GMT
recorded_with: VCR 6.0.0
