---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic SU5WQUxJRCBUT0tFTjo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 19 Dec 2021 05:24:52 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44521237,"employerId":7337,"employerName":"Ashdown
        Group","employerProfileId":null,"employerProfileName":null,"jobTitle":"Senior
        Backend Developer","locationName":"Wandsworth","minimumSalary":60000.00,"maximumSalary":75000.00,"currency":"GBP","expirationDate":"28/12/2021","date":"29/10/2021","jobDescription":"
        A market-leading software company based in South West London&nbsp;is seeking
        a Senior Backend Developer to be a senior part of a team responsible for the
        development of the company’s software products.  &nbsp;This is a great opportunity
        to join a growing company boasting some of the world''s biggest tech companies
        as customers, and to work in a truly collaborative Development team. The role
        is predominantly office based (Wandsworth/Eas... ","applications":8,"jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer/44521237"},{"jobId":45035505,"employerId":504253,"employerName":"Rebel
        Recruiters","employerProfileId":null,"employerProfileName":null,"jobTitle":"Green
        Tech Backend Developer Hybrid Remote","locationName":"Edinburgh","minimumSalary":35000.00,"maximumSalary":50000.00,"currency":"GBP","expirationDate":"25/01/2022","date":"14/12/2021","jobDescription":"
        Green-Energy Backend Developer - saving the planet!Location: Edinbur[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44521237
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":7337,"employerName":"Ashdown Group","jobId":44521237,"jobTitle":"Senior
        Backend Developer","locationName":"Wandsworth","minimumSalary":60000.0000,"maximumSalary":75000.0000,"yearlyMinimumSalary":60000.0000,"yearlyMaximumSalary":75000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£60,000 - £75,000 per annum","datePosted":"29/10/2021","expirationDate":"28/12/2021","externalUrl":"https://jobs.ashdowngroup.com/job/senior-backend-developer-19270/apply.aspx?atsimode=customdirectapply&provider=firefish","jobUrl":"https://www.reed.co.uk/jobs/senior-backend-developer/44521237","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"
        <p>A market-leading software company based in South West London&nbsp;is seeking
        a Senior Backend Developer to be a senior part of a team responsible for the
        development of the company’s software products. </p> <p>&nbsp;This is a great
        opportunity to join a growing company boasting some of the world''s biggest
        tech companies as customers, and to work in a truly collaborative Development
        team. The role is predominantly office based (Wandsworth/East Putney) but
        the&nbsp;company  offers flexible working and some remote working will be
        available. </p> <p>Essential Skills: </p> <ul> <li>Experience developing and
        maintaining C#/.NET REST APIs, and writing enterprise-scale Web 2.0 applications.
        </li><li>Good in-depth knowledge of Client/Server and Web architectures on
        Windows, using SQL Server and tools such as nHibernate, EntityFramework, WebAPI
        in VisualStudio. </li><li>Enjoys learning new skills and working with a team,
        finding innovative solutions to problems, and contributing to the constant
        evolution of a mature set of product[...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Sun, 19 Dec 2021 05:27:25 GMT
recorded_with: VCR 6.0.0
