---
http_interactions:
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results":[{"jobId":44933057,"employerId":300264,"employerName":"Client
        Server Ltd.","employerProfileId":null,"employerProfileName":null,"jobTitle":"Backend
        Java Developer API - Banking","locationName":"London","minimumSalary":95000.00,"maximumSalary":120000.00,"currency":"GBP","expirationDate":"03/01/2022","date":"06/12/2021","jobDescription":"Backend
        Java Developer (Agile CI/CD RESTful API TDD). Would you like to utilise and
        develop your Java skills within a hugely successful challenger bank that will
        encourage you to learn new technologies and collaborate with talented developers?
        As a Backend Java Developer you''ll be working on the core transaction engine;
        building public, scalable REST APIs and secure, fast integrations. You will
        be tackling different technical project... ","applications":1,"jobUrl":"https://www.reed.co.uk/jobs/backend-java-developer-api-banking/44933057"},{"jobId":44575507,"employerId":153906,"employerName":"Peopleworks","employerProfileId":null,"employerProfileName":null,"jobTitle":"Software
        Developer - BackEnd - Java - SpringBoot - GCP","locationName":"Hackney","minimumSalary":500.00,"maximumSalary":500.00,"currency":"GBP","expirationDate":"26/01/2022","date":"03/11/2021","jobDescription":"
        Software Developer - BackEnd - Java - SpringBoot - GCP Contract: [...]
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/search?keywords=backend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic SU5WQUxJRCBUT0tFTjo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 10 Dec 2021 12:30:25 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/44933057
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"employerId":300264,"employerName":"Client Server Ltd.","jobId":44933057,"jobTitle":"Backend
        Java Developer API - Banking","locationName":"London","minimumSalary":95000.0000,"maximumSalary":120000.0000,"yearlyMinimumSalary":95000.0000,"yearlyMaximumSalary":120000.0000,"currency":"GBP","salaryType":"per
        annum","salary":"£95,000 - £120,000 per annum","datePosted":"06/12/2021","expirationDate":"03/01/2022","externalUrl":null,"jobUrl":"https://www.reed.co.uk/jobs/backend-java-developer-api-banking/44933057","partTime":false,"fullTime":true,"contractType":"Permanent","jobDescription":"Backend
        Java Developer (Agile CI/CD RESTful API TDD). Would you like to utilise and
        develop your Java skills within a hugely successful challenger bank that will
        encourage you to learn new technologies and collaborate with talented developers?
        <br /><br />As a Backend Java Developer you''ll be working on the core transaction
        engine; building public, scalable REST APIs and secure, fast integrations.
        You will be tackling different technical projects and taking ownership of
        the function you are working utilising  the latest technologies and tools.<br
        /><br />Based in central London you will be joining a relaxed, friendly and
        highly diverse company who will encourage you to take ownership of your work
        and learn new skills. You can enjoy a number of company perks including flexible
        working (hybrid WFH / office model)  and a casual dress code. <br /><br />Requirements:<br
        />*Strong Java Developer skills with commercial experience using Java 8 and
        ideally 11<br />*Experience with RESTful APIs <br />*Very good understanding
        of TDD, CI/CD and Agile<br />*Excellent communication and collaboration skills<br
        /><br />As a Backend Java Developer you can expect to earn a competitive salary
        (up to &#163;120k) plus bonus and benefits.<br /><br />Apply today or call
        to have a confidential discussion about this Backend Java Developer role.<br
        />","applicationCount":1}'
  recorded_at: Fri, 10 Dec 2021 12:30:30 GMT
- request:
    method: get
    uri: https://www.reed.co.uk/api/1.0/jobs/INVALID%20JOB_ID
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <REED_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"The request is invalid."}'
  recorded_at: Fri, 10 Dec 2021 12:30:32 GMT
recorded_with: VCR 6.0.0
